<h1>
  Edit flight table #<%= @flight_table.id %>
</h1>

<hr>

<!-- Form flight_table start -->
<form action="/update_flight_table/<%= @flight_table.id %>" method="post">
<!-- Form flight_table end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @flight_table.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for time start -->
  <div class="form-group">
    <label for="time">
      Time
    </label>

    <!-- Input for time start -->
    <input type="text" id="time" name="time" class="form-control" value="<%= @flight_table.time %>">
    <!-- Input for time end -->
  </div>
  <!-- Label and input for time end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @flight_table.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update flight table
  </button>
</form>

<hr>

<a href="/flight_tables">
  Go back
</a>
