<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Flight table #<%= @flight_table.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/flight_tables" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link flight_table start -->
      <div class="col">
        <a href="/flight_tables/<%= @flight_table.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit flight table
        </a>
      </div>
      <!-- Edit link flight_table end -->

      <!-- Delete link flight_table start -->
      <div class="col">
        <a href="/delete_flight_table/<%= @flight_table.id %>" class="btn btn-block btn-outline-secondary">
          Delete flight table
        </a>
      </div>
      <!-- Delete link flight_table end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @flight_table.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Time
      </dt>
      <!-- Display time start -->
      <dd>
        <%= @flight_table.time %>
      </dd>
      <!-- Display time end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @flight_table.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@flight_table.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@flight_table.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
